body{
    background-color: #EFEFEF;
    margin:0;
    font-family: "Microsoft YaHei";
}
a{
    text-decoration: none;
    color: white;
}
.topnavbar{
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    vertical-align:middle;
}
.topnavbar-1{
    padding-left: 16px;
    padding-right:16px;
    
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    float:left;
    padding-top:4px;
}
.topnavbar .rs{
    font-family: Arial Black;
    font-size: 24px;
    font-weight:bold;
    color: #e6686a;
}
.topnavbar .card{
    font-family: Arial black;
    font-size:24px;
    font-weight: bold;
    color: #b7b7b7;

}
.topnavbar nav{
    float: right;
}
nav ul li{
    float: left;
    list-style: none;
    margin-left: 17px;
    margin-right: 17px;
}
nav ul li a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    

}
nav ul li a:hover{
    border-bottom: 3px solid #e06567;
}
.banner{
    background-image: url(../images/rs-cover-2-2-1-1.jpg);
    background-color: rgba(0,0,0,0.5);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.7);
}
.usercard{
    max-width: 940px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;

}
.picture{
    padding:60px;
    float: left;
}
.profile{
    float: left;
    padding-top:60px;
}

.profile .welcome{
    display:inline-block;
    background-color: #E8676B;
    font-weight: bold;
    padding: 6px 16px;
    font-size:20px;
    position: relative;
    color: white;
}
.profile .welcome .triangle{
    border:20px solid transparent;
    border-left-color:#E6686A;
    border-top-width:0px;
    position:absolute;
    top: 30px;
    left: 6px;
}
.profile h1{
    color: black;
    margin-bottom: 12px;
}
.profile span{
    color: black;
}
.profile hr{
    width: 500px;
    color: #DEDEDE;
    border:none;
    border-top:1px solid #DEDEDE;
    margin-top:25px;
    margin-bottom:25px;
}
dl{
    

}
 dl dt,
 dl dd{
    color: black;
    float: left;
}
dt{
    width:30%;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
}
 dd{
    width:70%;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
}
.user-media{
    background-color: #E6686A;
    text-align: center;
}
.user-media a{
    display: inline-block;
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;

}
.user-media a:hover{
    background-color: rgba(0,0,0,0.1);
    
} 
.icon {
    width:25px ;
    height: 25px;
    fill: currentColor;
    vertical-align: top;
}
.main-content{
    max-width:940px;
    margin:0 auto;
}
.downloadresume{
    max-width:940px;
    margin:0 auto;
    text-align: center;
    margin-top:26px;
}
.downloadresume>a{
    color:black;
    border:1px solid #cbcdcf;
    display:inline-block;
    padding:26px 102px;
    font-size:18px;
    transition: ease 0.3s;
    font-weight:bold;
}
.downloadresume>a:hover{
    box-shadow:0px 7px 25px -3px rgb(143, 138, 138);
}
.main-content>p{
    margin-top:33px;
    line-height: 40px;

}
.profileskills{
    margin-top:40px;
    
}
.sumskills{
    margin-top:30px;
    background-color:white;
    padding:37px;
    box-shadow:0px 7px 10px -3px rgb(143, 138, 138);
}
.profileskills h1{
    text-align:center;
}
.profileskills ul{
    list-style: none;
    padding-left:0;
    margin-top:0;
    overflow:hidden;
    margin-bottom:0;
}
.profileskills ul li{
    float:left;
    padding-right:15px;
    padding-left:15px;
}
.personalskills{
    margin-bottom:40px;
}
.profileskills ul li h2{
    font-weight:normal;
    font-size:14px;
    margin-top:5px;
    margin-bottom:5px;
}
.progressbarF{
    width:400px;
    height:5px;
    background-color: #ebd4d5;
    border-radius:2px;
}
.progressbarS{
    width:80%;
    height:5px;
    background-color:#e8676b;
    border-radius:2px;
}
.portfolio{
    margin-top:78px;
}
.portfolio h1{
    text-align:center;
    font-size:1.5em;
    margin-bottom:40px;
}
.technolgycategory{
    margin:0 auto;
    text-align-last:justify 
}
.category-contain{
    width:260px;
    margin:0 auto;
    text-align:justify 
}
.technolgycategory span{
    display:inline-block;
    cursor: pointer;
}   
#categoryShift{
    text-align: left;
    width:260px;
    height:5px;
    background-color: white;
    margin:0 auto;
    margin-top:15px;
    border-radius:3px;
}
.technolgycategory .categoryShift-s{
    display:inline-block;
    width:80px;
    height:100%;
    background-color:#e8676b;
    border-radius:3px;
    vertical-align: top;
    transition:linear 0.3s;
}
.technolgycategory #categoryShift.state-1 .categoryShift-s{
    width: 34px;
}
.technolgycategory #categoryShift.state-2 .categoryShift-s{
    margin-left:90px;
    width:34px;
}
.technolgycategory #categoryShift.state-3 .categoryShift-s{
    margin-left:180px;
    width:80px;
}
.production{
    margin-top: 30px;
}
.proleft ,.proright{
    float: left;
}
.proleft,.right01,.right02{
    padding: left 10px;
    padding-right:10px;
}
.right01{
    padding-bottom:10px;
}
.right02{
    padding-top:5px;
}
.loading{
    height:500px;
    background-color: bisque;
}

